params {
    reads_dir       = "$baseDir/data/NGS"
    vcf_dir         = "$baseDir/data/VCF" 
    deeplex_dir    = "$baseDir/data/Deeplex"
    reference       = "$baseDir/data/H37Rv.fasta" // https://www.ncbi.nlm.nih.gov/nuccore/NC_000962.3?report=fasta
    mutation_db     = "$baseDir/data/WHO-UCN-TB-2023.csv" // https://github.com/GTB-tbsequencing/mutation-catalogue-2023
    results_dir     = "$baseDir/results"
    fhir_validator  = "$baseDir/tools/fhir-validator.jar"
    illumina_suffix = '_illumina'
    nanopore_suffix = '_ont'
    version         = "1.3.0"
    repetitive_regions = "$baseDir/data/repetitive_regions.bed"
    lineage_barcode = "$baseDir/data/lineage_fix.bed"
    clinical_metadata = "$baseDir/data/clinical_metadata.csv"
    clinical_metadata_deeplex = "$baseDir/data/clinical_metadata_deeplex.csv"
    nanopore_min_q = 10
    nanopore_min_l = 500
}

process {
    withName: fastqc {
        cpus = 6
        memory = '4 GB'
    }

    withName: chopper {
        cpus = 6
        memory = '6 GB'
    }

    withName: trimmomatic {
        cpus = 6
        memory = '6 GB'
    }

    withName: minimap2 {
        cpus = 6
        memory = '8 GB'
    }

    withName: 'gatk' {
        cpus = 6
        memory = '10 GB'
    }

    withName: 'medaka' {
        cpus = 6
        memory = '10 GB'
    }

    withName: annotate {
        cpus = 6
        memory = '6 GB'
    }

    withName: MULTIQC {
        cpus = 6
        memory = '6 GB'
    }

    withName: CREATE_FHIR {
        cpus = 6
        memory = '6 GB'
    }
    
    withName: VALIDATE_FHIR {
        cpus = 6
        memory = '8 GB'
    }

    scratch = true
}


profiles {
    standard {
        process.executor = 'local'
    }
    
    hpc {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    
    test {
        params.reads_dir = 'test_data'
        params.max_threads = 2
    }
}

docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g) --rm'
    fixOwnership = false
}

singularity {
    enabled = false
}

params {
    max_cpus = 8
    max_memory = '16 GB'
    max_time = '24h'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}